---
import MiniPanel from "../Layouts/MiniPanel.astro";
import GravatarImage from "../GravatarImage.astro";

import GitHubMarkImage from "../../imgs/github-mark.png";
import XLogoBlackImage from "../../imgs/x-logo-black.png";

interface Props {
  name: string;
  md5Email?: string;
  ImageSrc?: string;
  githubID?: string;
  xID?: string;
  label?: string;
}
const { name, md5Email, ImageSrc, githubID, xID, label } = Astro.props;

const iconSize = 400;
---

<div class="outer">
  <MiniPanel>
    <div class="icon">
      {md5Email && <GravatarImage md5Email={md5Email} size={iconSize} alt={name} />}
      {ImageSrc && <img src={ImageSrc} alt={name} />}
    </div>
    {label && <div class="label">{label}</div>}
    <h3>{name}</h3>
    <div class="socials">
      {githubID && (
        <div class="social github">
          <img src={GitHubMarkImage.src} /><a
            href=`https://github.com/${githubID}`
          >
            @{githubID}
          </a>
        </div>
      )}
      {xID && (
        <div class="social x">
          <img src={XLogoBlackImage.src} /><a
            href=`https://x.com/${xID}`
          >
            @{xID}
          </a>
        </div>
      )}
    </div>
  </MiniPanel>
</div>

<style>
  .outer {
    width: 48%;
    margin-bottom: 32px;
  }
  @media screen and (width <= 720px) {
    .outer {
      width: 100%;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    img {
      border-radius: 12px;
      border: solid #d9d9d9 1px;
      width: 200px;
    }
    @media screen and (width <= 480px) {
      img {
        width: 160px;
      }
    }
  }

  .label {
    font-family: "Hiragino Kaku Gothic Pro", "Noto Sans JP", sans-serif;
    display: inline-block;
    margin-bottom: 16px;

    background-color: #fff;
    border-radius: 4px;
    padding: 4px 16px;

    color: #dd451d;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
  }

  .socials {
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 24px;
    align-items: center;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .social img {
    width: 30px;
    height: 30px;
    margin: 0 8px 0 0;
  }
  @media screen and (width <= 480px) {
    .social img {
      width: 18px;
      height: 18px;
    }
  }

  .social a {
    text-decoration: none;
    font-size: 20px;
    vertical-align: top;
  }
  @media screen and (width <= 480px) {
    .social a {
      font-size: 16px;
    }
  }
</style>
