---
import MiniPanel from "../Layouts/MiniPanel.astro";
import Logo from "./Logo.astro";

type Company = {
  logoImageSrc: string;
  name: string;
  link: string;
  description: string;
};

interface Props {
  grade: "Ruby" | "Gold" | "Silver";
  label?: string;
  company: Company;
}

const { grade, label, company } = Astro.props;
---

<MiniPanel>
  <div class:list={grade == "Silver" ? "inner-silver" : "inner"}>
    <Logo grade={grade} company={company} />
    <div class="description">
      {label && <div class="label">{label}</div>}
      <div class="company">
        <div class="name">
          <h4>{company.name}</h4>
        </div>
        <div class="text">
          {company.description}
        </div>
        <a href={company.link}>{company.link}</a>
      </div>
    </div>
  </div>
</MiniPanel>

<style>
  .inner {
    display: flex;
    gap: 32px;
    align-items: flex-start;
  }
  @media screen and (width <= 720px) {
    .inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .inner-silver {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (720px <= width <= 960px) {
    .inner-silver {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .description {
    flex: 1;

    .label {
      display: inline-block;
      margin-bottom: 16px;

      background-color: #fff;
      border-radius: 4px;
      padding: 4px 16px;

      color: #dd451d;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    .company {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .name {
        padding-bottom: 8px;
        border-bottom: solid 1px #AEAEB2;

        h4 {
          font-size: 24px;
          line-height: 36px;
          font-weight: 600;
        }
      }

      a {
        word-wrap: anywhere;
        font-family: "Futura", "Jost", sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-decoration: underline;
      }

      .text {
        word-wrap: anywhere;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
</style>
